
body {
    background-color: white;
    margin-left: 100px;
    width: 75%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

nav{
    clear: both;
    float: left;
    line-height: 1.1em;
    height: 800px;
    width: 200px;
    
}

h1 {
    float: left;
    height: 15px;
    width: 200px;
    font-size: 1em;
    font-family:'Titillium', 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    margin-top: 100px;
    left: 400px;
    font-family: 'Titillium', 'Arial', 'Sans-Serif';
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: 300;
    color: black;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}


